#smarty-gtm-settings-container > div > table,
#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table,
#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead {
    background: #ffffff; 
    border: 1px solid #dddddd; 
    border-radius: 5px;
}

#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead,
#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead > tr th:first-child,
#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead > tr th,
#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead > tr th:last-child
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead > tr th:first-child,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead > tr th,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead > tr th:last-child, 
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead {
    border-color: #dddddd;
}

#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead > tr th:first-child,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead > tr th:first-child {
    border-top-left-radius: 5px;
}

#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead > tr th:last-child,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead > tr th:last-child {
    border-top-right-radius: 5px;
}

#smarty-gtm-settings-container > div > #smarty-gtm-event-logs-table-container table > thead > tr th,
#smarty-gtm-settings-container > div > #smarty-gtm-error-logs-table-container table > thead > tr th {
    color: #0073aa;
    background: #f5f5f5;
}

#smarty-gtm-event-logs-table-container details > pre {
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    max-width: 100%;
	background-color: #2d2d2d; /* Dark gray background */
    color: #a8ff60; /* Light green text */
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto; /* Enable horizontal scrolling */
    font-family: "Courier New", Courier, monospace; /* Monospaced font for code */
    font-size: 14px;
    border: 1px solid #444; /* Optional: Add a border for better separation */
}

/* Tab styles */
@media screen and (max-width: 768px) {
    #smarty-gtm-tabs-container {
        display: none;
    }
}

.smarty-gtm-nav-tab-wrapper, .wrap h2.smarty-gtm-nav-tab-wrapper, h1.smarty-gtm-nav-tab-wrapper {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
  }

.smarty-gtm-nav-tab {
    display: inline-block;
    padding: 10px 20px;
    color: #0073aa;
    text-decoration: none;
    border: 1px solid #dddddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: #f1f1f1;
    margin-right: 5px;
}

.smarty-gtm-nav-tab-active {
    background: #f9f9f9;
    border-bottom: none;
}

.smarty-gtm-nav-tab:focus,
.smarty-gtm-nav-tab-active:focus {
    color: #135e96;
    outline: none;
}

.smarty-gtm-nav-tab:focus {
    outline: none;
    box-shadow: 0 0 3px #0073aa;
}

.smarty-gtm-tab-content {
    display: none;
}

.smarty-gtm-tab-content.active {
    display: block;
}

#smarty-gtm-settings-container {
    display: flex; 
    gap: 20px; 
    margin-top: 20px;
}

#smarty-gtm-settings-container > div {
    flex: 1;
    min-width: 250px;
}

#smarty-gtm-tabs-container {
    background: #f9f9f9; 
    padding: 20px; 
    border: 1px solid #dddddd; 
    border-radius: 8px;
}

#smarty-gtm-tabs-container > div {
    flex: 1; 
}

.smarty-gtm-view-more-container {
    background: #F0F0F1;
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 0 20px 20px;
}

#smarty-gtm-readme-content,
#smarty-gtm-readme-content p,
#smarty-gtm-changelog-content, 
#smarty-gtm-changelog-content p {
    font-size: 14px;
}

#smarty-gtm-readme-content pre,
#smarty-gtm-changelog-content pre {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word; /* Allows word-breaking on small screens */
}

#smarty-gtm-readme-content h1, 
#smarty-gtm-readme-content h2, 
#smarty-gtm-readme-content h3,
#smarty-gtm-changelog-content h1, 
#smarty-gtm-changelog-content h2, 
#smarty-gtm-changelog-content h3 {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#smarty-gtm-readme-content ul, 
#smarty-gtm-readme-content ol,
#smarty-gtm-changelog-content ul,
#smarty-gtm-changelog-content ol {
    margin: 15px 0;
    padding-left: 30px;
    list-style: inherit;
}
